.cache
eln-cache
elpa
ido.last
projects
recentf
to-be-dumped.el
transient
tree-sitter
bookmarks
eshell/
projectile-bookmarks.eld
quelpa/
straight/
custom_config.el
projectile.cache
elpaca/
tutorial/
url/